<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Utilisation des Disques</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        canvas {
            margin: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div id="charts"></div>
    <script>
        fetch('/diskinfo')
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('charts');
            data.forEach((disk, index) => {
                const canvas = document.createElement('canvas');
                canvas.id = 'diskChart' + index;
                container.appendChild(canvas);

                const ctx = canvas.getContext('2d');
                const freePercentage = (disk.free / disk.total) * 100;
                let backgroundColor;
                if (freePercentage > 50) {
                    backgroundColor = ['rgba(75, 192, 192, 0.7)', 'rgba(255, 99, 132, 0.7)']; // Vert et rouge
                } else if (freePercentage > 25) {
                    backgroundColor = ['rgba(255, 206, 86, 0.7)', 'rgba(255, 99, 132, 0.7)']; // Jaune et rouge
                } else {
                    backgroundColor = ['rgba(255, 99, 132, 0.7)', 'rgba(54, 162, 235, 0.7)']; // Rouge et bleu
                }

                new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Libre (Go)', 'Utilisé (Go)'],
                        datasets: [{
                            label: `${disk.device} Utilisation du Disque (Go)`,
                            data: [disk.free, disk.used],
                            backgroundColor: backgroundColor,
                            borderColor: [
                            ],
                            borderWidth: 0
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        title: {
                            display: true,
                            text: 'Disque: ' + disk.device
                        }
                    }
                });
            });
        })
        .catch(error => console.error('Error:', error));
    </script>
</body>

</html>