<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-okaidia.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-bash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .navbar,
        .subnav {
            background-color: #fff;
            border-bottom: 1px solid #dee2e6;
        }

        .subnav {
            padding: 0.5rem 1rem;
            margin-top: -1px;
            /* Aligns the subnav directly under the navbar */
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .nav-link.active {
            border-bottom: 3px solid blue;
            color: blue;
        }

        .container {
            margin-top: 20px;
        }

        textarea {
            width: 100%;
        }

        ::placeholder {
            opacity: 0.6 !important;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">GenomePilot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Installed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Available Workflows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/status">Analyses <span id="runningCount"
                                class="badge bg-primary">2</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/basecalling">Basecalling + demultiplexing</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                href="/history-basecalling">Historique</a></li>
                    </ol>
                </nav>
                <h1 class="mb-4 flex-grow-1 text-center">Basecalling + demultiplexing</h1>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data" id="configForm">
            <div class="mb-3">
                <label for="base_output_dir" class="form-label">Selectionnez votre dossier de sortie:</label>
                <input type="text" class="form-control" name="base_output_dir"
                    placeholder="/data/validation_de_meth_TTR_FLG_2/no_sample/20240611_1220_X1_FLG114_2dac5e43/Basecalling"
                    required>
            </div>

            <div class="mb-3">
                <label for="input_dir" class="form-label">Selectionner votre dossier contenant les pod5:</label>
                <input type="text" class="form-control" name="input_dir"
                    placeholder="/data/validation_de_meth_TTR_FLG_2/no_sample/20240611_1220_X1_FLG114_2dac5e43/pod5​"
                    required>
            </div>

            <div class="mb-3">
                <label for="ref_genome" class="form-label">Selectionnez votre référence (e.g., .mmi):</label>
                <input type="text" class="form-control" name="ref_genome" placeholder="/data/References/hg38.mmi"
                    required>
            </div>
            <div class="mb-3">
                <label for="qs_scores" class="form-label">Entrez vos Qscores, si vous voullez en mettre plusieurs
                    séparez les par des espaces:</label>
                <input type="text" class="form-control" name="qs_scores" placeholder="14 17 19" required>
            </div>
            <div class="mb-3">
                <label for="cuda_device" class="form-label">Spécifiez le nombre de GPU (e.g., cuda:0):</label>
                <input type="text" class="form-control" name="cuda_device" placeholder="cuda:all" required>
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Entrez votre nom de modèle:</label>
                <select class="form-control" name="model" required>
                    <option value="">Sélectionnez le modèle</option>
                    <optgroup label="R10 Kits">
                        <option value="dna_r10.4.1_e8.2_260bps_fast@v3.5.2">dna_r10.4.1_e8.2_260bps_fast@v3.5.2</option>
                        <option value="dna_r10.4.1_e8.2_260bps_fast@v4.0.0">dna_r10.4.1_e8.2_260bps_fast@v4.0.0</option>
                        <option value="dna_r10.4.1_e8.2_260bps_fast@v4.1.0">dna_r10.4.1_e8.2_260bps_fast@v4.1.0</option>
                        <option value="dna_r10.4.1_e8.2_260bps_hac@v3.5.2">dna_r10.4.1_e8.2_260bps_hac@v3.5.2</option>
                        <option value="dna_r10.4.1_e8.2_260bps_hac@v4.0.0">dna_r10.4.1_e8.2_260bps_hac@v4.0.0</option>
                        <option value="dna_r10.4.1_e8.2_260bps_hac@v4.1.0">dna_r10.4.1_e8.2_260bps_hac@v4.1.0</option>
                        <option value="dna_r10.4.1_e8.2_260bps_sup@v3.5.2">dna_r10.4.1_e8.2_260bps_sup@v3.5.2</option>
                        <option value="dna_r10.4.1_e8.2_260bps_sup@v4.0.0">dna_r10.4.1_e8.2_260bps_sup@v4.0.0</option>
                        <option value="dna_r10.4.1_e8.2_260bps_sup@v4.1.0">dna_r10.4.1_e8.2_260bps_sup@v4.1.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_fast@v3.5.2">dna_r10.4.1_e8.2_400bps_fast@v3.5.2</option>
                        <option value="dna_r10.4.1_e8.2_400bps_fast@v4.0.0">dna_r10.4.1_e8.2_400bps_fast@v4.0.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_fast@v4.1.0">dna_r10.4.1_e8.2_400bps_fast@v4.1.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_fast@v4.2.0">dna_r10.4.1_e8.2_400bps_fast@v4.2.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_hac@v3.5.2">dna_r10.4.1_e8.2_400bps_hac@v3.5.2</option>
                        <option value="dna_r10.4.1_e8.2_400bps_hac@v4.0.0">dna_r10.4.1_e8.2_400bps_hac@v4.0.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_hac@v4.1.0">dna_r10.4.1_e8.2_400bps_hac@v4.1.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_hac@v4.2.0">dna_r10.4.1_e8.2_400bps_hac@v4.2.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_hac@v4.3.0">dna_r10.4.1_e8.2_400bps_hac@v4.3.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_hac@v5.0.0">dna_r10.4.1_e8.2_400bps_hac@v5.0.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_sup@v3.5.2">dna_r10.4.1_e8.2_400bps_sup@v3.5.2</option>
                        <option value="dna_r10.4.1_e8.2_400bps_sup@v4.0.0">dna_r10.4.1_e8.2_400bps_sup@v4.0.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_sup@v4.1.0">dna_r10.4.1_e8.2_400bps_sup@v4.1.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_sup@v4.2.0">dna_r10.4.1_e8.2_400bps_sup@v4.2.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_sup@v4.3.0">dna_r10.4.1_e8.2_400bps_sup@v4.3.0</option>
                        <option value="dna_r10.4.1_e8.2_400bps_sup@v5.0.0">dna_r10.4.1_e8.2_400bps_sup@v5.0.0</option>
                    </optgroup>
                    <optgroup label="R9 Kits">
                        <option value="dna_r9.4.1_e8_fast@v3.4">dna_r9.4.1_e8_fast@v3.4</option>
                        <option value="dna_r9.4.1_e8_hac@v3.3">dna_r9.4.1_e8_hac@v3.3</option>
                        <option value="dna_r9.4.1_e8_sup@v3.3">dna_r9.4.1_e8_sup@v3.3</option>
                    </optgroup>
                    <optgroup label="RNA Kits">
                        <option value="rna002_70bps_fast@v3">rna002_70bps_fast@v3</option>
                        <option value="rna004_130bps_fast@v3.0.1">rna004_130bps_fast@v3.0.1</option>
                        <option value="rna004_130bps_fast@v5.0.0">rna004_130bps_fast@v5.0.0</option>
                        <option value="rna004_130bps_hac@v3.0.1">rna004_130bps_hac@v3.0.1</option>
                        <option value="rna004_130bps_hac@v5.0.0">rna004_130bps_hac@v5.0.0</option>
                        <option value="rna004_130bps_sup@v3.0.1">rna004_130bps_sup@v3.0.1</option>
                        <option value="rna004_130bps_sup@v5.0.0">rna004_130bps_sup@v5.0.0</option>
                    </optgroup>
                </select>
            </div>
            <div class="mb-3">
                <label for="kit_name" class="form-label">Entrez le nom du kit:</label>
                <select class="form-control" name="kit_name" required>
                    <option value="">Selectionnez votre kit</option>
                    <option value="SQK-NBD114-24">SQK-NBD114-24</option>
                    <option value="SQK-RBK114-24">SQK-RBK114-24</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter la configuration</button>
        </form>
        <br>
        <h3>Configurations:</h3>
        <ul id="configList" class="list-group mb-4">
            <!-- Les configurations seront ajoutées ici dynamiquement -->
        </ul>
        <button onclick="generateAndShowScript()" class="btn btn-secondary mb-3">Générer le script</button>
        <!-- Zone de code pour afficher le script Bash -->
        <pre><code class="language-bash" id="scriptArea"></code></pre>
        <!-- <button onclick="copyToClipboard()">Copier</button> -->
        <button onclick="downloadScript()" class="btn btn-primary">Télécharger le script sur la machine</button>
        <button onclick="startScript()" class="btn btn-success">Lancer le script sur la machine</button>
    </div>
    <script>
        function generateAndShowScript() {
            fetch('/generate_script')
                .then(response => response.json())
                .then(data => {
                    const codeBlock = document.getElementById('scriptArea');
                    codeBlock.textContent = JSON.parse(data.script); // Utilisez JSON.parse pour décoder le contenu échappé
                    Prism.highlightElement(codeBlock);  // Demandez à Prism de mettre en évidence le nouveau contenu
                })
                .catch(error => console.error('Error:', error));
        }


        function copyToClipboard() {
            const text = document.getElementById('scriptArea').innerText; // Obtient le texte de l'élément `<code>`

            // Crée un élément textarea temporaire
            const textarea = document.createElement('textarea');
            textarea.textContent = text;
            textarea.style.position = 'fixed';  // Évite de déplacer la page
            document.body.appendChild(textarea);
            textarea.select();  // Sélectionne le texte dans le textarea

            try {
                document.execCommand('copy');  // Copie le texte dans le presse-papiers
                alert('Texte copié avec succès!');
            } catch (err) {
                console.error('Erreur lors de la copie:', err);
                alert('Erreur lors de la copie');
            }

            document.body.removeChild(textarea);  // Supprime le textarea temporaire
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetchConfigurations();
        });

        document.getElementById('configForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            fetch('/basecalling', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Configuration added:', data.configurations);
                        fetchConfigurations(); // Actualiser la liste après ajout
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => console.error('Error adding configuration:', error));
        });

        // function updateConfigList(configurations) {
        //     const configList = document.getElementById('configList');
        //     configList.innerHTML = ''; // Clear existing entries
        //     configurations.forEach((config, index) => {
        //         const li = document.createElement('li');
        //         li.className = 'list-group-item';
        //         li.textContent = `Config ${index + 1}: ${config.base_output_dir} - ${config.input_dir}`;
        //         const deleteBtn = document.createElement('button');
        //         deleteBtn.textContent = 'Delete';
        //         deleteBtn.className = 'btn btn-danger btn-sm float-right';
        //         deleteBtn.onclick = function () { deleteConfiguration(index); };
        //         li.appendChild(deleteBtn);
        //         configList.appendChild(li);
        //     });
        // }

        function deleteConfiguration(index) {
            fetch('/delete_config_basecalling', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ index })
            }).then(response => response.json())
                .then(result => {
                    if (result.success) {
                        fetchConfigurations(); // Actualiser la liste après suppression
                    } else {
                        alert('Failed to delete configuration');
                    }
                })
                .catch(error => console.error('Error deleting configuration:', error));
        }

        function fetchConfigurations() {
            fetch('/get_configurations_basecalling')
                .then(response => response.json())
                .then(configurations => {
                    updateConfigList(configurations);
                })
                .catch(error => console.error('Error loading configurations:', error));
        }

        function startScript() {
            fetch('/start_script', {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Script started:', data);
                    alert('Script started');
                })
                .catch(error => console.error('Error starting script:', error));
        }

    </script>
    <script>
        function downloadScript() {
            window.location.href = '/download_basecalling_script';
        }
    </script>
        <script>
        function createDeleteButton(index) {
            const deleteBtn = document.createElement('button');
            deleteBtn.textContent = 'Delete';
            deleteBtn.className = 'btn btn-danger btn-sm float-end';
            deleteBtn.onclick = function () {
                deleteConfiguration(index);
            };
            return deleteBtn;
        }

        function createConfigListItem(config, index) {
            const li = document.createElement('li');
            li.className = 'list-group-item d-flex justify-content-between align-items-center';
            li.textContent = `Config ${index + 1}: ${config.input_dir} - ${config.base_output_dir} - ${config.ref_genome} - ${config.qs_scores} - ${config.cuda_device} - ${config.model} - ${config.kit_name}`;
            const deleteBtn = createDeleteButton(index);
            li.appendChild(deleteBtn);
            return li;
        }

        function updateConfigList(configurations) {
            const configList = document.getElementById('configList');
            configList.innerHTML = ''; // Clear existing entries
            configurations.forEach((config, index) => {
                const listItem = createConfigListItem(config, index);
                configList.appendChild(listItem);
            });
        }
    </script>

    <script src="/static/js/analyse_count.js"></script>
</body>

</html>